# Impala & Python

## 1.Conexão com Impala

A conexão com o Impala será feita no servidor <192.168.1.75> através da porta 21050. Para que isto seja possível, s deve-se instalar a lib de Python correspondente ao impala através do comando:pip install impyla

In [ ]:
Na próxima sequência, importaremos a lib correspondente, invocaremos a função de conexão e associaremos o valor 
do cursor, pois assim há um controle bufferizado.

In [4]:
from impala.dbapi import connect
conn = connect(host='192.168.1.75', port=21050)
cur = conn.cursor()

Após criarmos a conexão, solicitaremos ao impala que apresente as tabelas existentes. Isso pode ser feito invocando
através do comando <b>SHOW TABLES</b>. Para que as informações possam ser exibidas, deve-se utilizar a função fetchall. Desta forma, as tabelas existentes são apresentadas como indicado abaixo.

In [5]:
cur.execute('SHOW TABLES')
cur.fetchall()

[('categories',),
 ('customers',),
 ('departments',),
 ('order_items',),
 ('orders',),
 ('products',)]

É importante compreendermos o domínio dos dados armazenados no Hadoop. Para isso, utilize o comando 
<b>DESCRIBE nome_tabela </b>

In [6]:
cur.execute('DESCRIBE products')
cur.fetchall()

[('product_id', 'int', ''),
 ('product_category_id', 'int', ''),
 ('product_name', 'string', ''),
 ('product_description', 'string', ''),
 ('product_price', 'float', ''),
 ('product_image', 'string', '')]

Até o momento criamos a conexão entre Python e Impala e descobrimos quais tabelas estão armazenadas e sua estrutura. A partir deste ponto podemos iniciar a Análise de Dados.

## 2.Data Analysis

Utiliaremos a lib pandas para analisarmos os dados. Para isso, faz-se necessário importar pandas. Os dados são recuperados via comando SQL SELECT e convertidos em um objeto DataFrame pandas.

In [15]:
from impala.util import as_pandas
cur.execute('SELECT * FROM products LIMIT 1000')
df = as_pandas(cur)

Confirmando se o tipo do objeto criado é DataFrame

In [8]:
type(df)

pandas.core.frame.DataFrame

Analisando o tipo de dado de df, temos:

In [9]:
df.dtypes

product_id               int64
product_category_id      int64
product_name            object
product_description     object
product_price          float64
product_image           object
dtype: object

O processo de criação correu bem, agora faz-se necessário conhecermos um pouco mais sobre os dados armazenados.

In [13]:
df.head()

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.980000,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,,129.990005,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,,89.989998,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,,89.989998,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,,199.990005,http://images.acmesports.sports/Riddell+Youth+...

Verificando o tamanho do DataFrame gerado

In [16]:
df.shape

(1000, 6)

In [23]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.reshape(range(16), (4, 4)), columns=['V!', 'V2', 'V3', 'V4'])
df.to_sql(name="test_df", con=conn, flavor="postgres")

NotImplementedError: flavors other than SQLite and MySQL are not supported