In [1]:
from impala.dbapi import connect
conn = connect(host='192.168.1.74', port=21050)
cur = conn.cursor()

In [2]:
cur.execute('SHOW TABLES')
cur.fetchall()

[('categories',),
 ('customers',),
 ('departments',),
 ('order_items',),
 ('orders',),
 ('products',)]

In [3]:
cur.execute('DESCRIBE products')
cur.fetchall()

[('product_id', 'int', ''),
 ('product_category_id', 'int', ''),
 ('product_name', 'string', ''),
 ('product_description', 'string', ''),
 ('product_price', 'float', ''),
 ('product_image', 'string', '')]

In [10]:
from impala.util import as_pandas
cur.execute('SELECT * FROM products LIMIT 5')
df = as_pandas(cur)

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.dtypes

product_id               int64
product_category_id      int64
product_name            object
product_description     object
product_price          float64
product_image           object
dtype: object

In [12]:
df.head()

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.980000,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,,129.990005,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,,89.989998,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,,89.989998,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,,199.990005,http://images.acmesports.sports/Riddell+Youth+...